<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ftdi.d2xx"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
	<application android:icon="@drawable/icon" android:label="@string/app_name" >
        <activity android:name=".ConsumirWSActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Evacuacion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ftdi.d2xx.EVACUACION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PantallaOpciones"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ftdi.d2xx.PANTALLAOPCIONES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                <activity
            android:name=".ListadeContactos"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ftdi.d2xx.CONTACTOS"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

                 <activity
            android:name=".Plano_completo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ftdi.d2xx.PLANO_COMPLETO"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
                
        <activity
            android:name=".ReceptordeNotificacion"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".Menuprincipal"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".HorizontalPagerDemo"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".HorizontalPager"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".Llamadas"
            android:label="@string/app_name" >
        </activity>
        
        <activity android:name=".Compass" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
        
        <activity
            android:name=".Plan"
            android:label="@string/app_name" >
        </activity>
        
        <receiver android:name=".AppWidget" android:label="Mi Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget"  />            
            
        </receiver>
        
    </application>
<uses-permission 
    android:name="android.permission.CALL_PHONE"/>
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission 
    android:name="android.permission.READ_CONTACTS"/>
</manifest>